<html>
	<head>
		<title>QUIZZING</title>
	</head>
	<body>
		<div>
			<h1>I AM GOING TO MAKE MY FRIDAY QUIZ ON HERE</a></h1>
			<p>It has taken a while but I can actually make a website now, so I will try and get a quiz creator online for us for fridays</p>
		</div>

		<div>
			{% for post in posts %}
			<div>
        		<p>published: {{ post.published_date }}</p>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaks }}</p>
    		</div>
			{% endfor %}
			</div>
	</body>
</html>